  * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            background-color: white;
        }

        .navbar-top {
            background-color: #8B0000;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .navbar-tabs {
            display: flex;
            background-color: #ccc;
            border-bottom: 1px solid #999;
        }

        .navbar-tabs div {
            padding: 10px 65px;
            border-right: 1px solid #999;
            cursor: pointer;
            background-color: #ccc;
        }

        .navbar-tabs div:first-child {
            background-color: #8B0000;
            color: white;
            font-weight: bold;
        }

        .container {
            display: flex;
            height: calc(100vh - 92px);
        }

        .sidebar {
            width: 200px;
            background-color: #eee;
            padding-top: 20px;
            border-right: 1px solid #ccc;
        }

        .sidebar a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: black;
            border-bottom: 1px solid #ccc;
            background-color: #f9f9f9;
        }

        .sidebar a:hover {
            background-color: #ddd;
        }

        .content {
            flex-grow: 1;
            padding: 40px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .logo {
            max-width: 600px;
            margin-bottom: 20px;     
        }

        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            color: #8B0000;
        }

        .text-box {
            border: 2px solid #8B0000;
            padding: 20px;
            width: 500px;
            background-color: #f9f9f9;
            color: #333;
        }

        .image-box img {
            max-width: 300px;
            padding: 10px;
            height: auto;
        }

             .search-bar {
            margin: 20px 0;
            display: flex;
            justify-content: center;
        }

        .search-bar input[type="text"] {
            width: 400px;
            padding: 10px;
            border: 2px solid #8B0000;
            border-radius: 5px;
            font-size: 16px;
        }

        .search-bar button {
            padding: 10px 15px;
            margin-left: 10px;
            background-color: #8B0000;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search-bar button:hover {
            background-color: #a10000;
        }